
<%= simple_form_for(@department) do |f| %>

  <%= f.input :dept %>
  <p id="valid_3" class="text-error">  !Can't be blank</p>
   <p id="valid_7" class="text-error">  has already been taken</p>
  <%= f.submit "Add Department" ,:id => 'dept_submit',:class => 'btn'%>
<% end %>


