<p><b>Department:</b>
  <%= @department.dept %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'New Department', new_department_path %> |
<%= link_to 'Home', people_path %>