 <%= form_for :dump,:url=> import_thoughts_path,:html => { :multipart => true } do |f| %>

 <p id="valid_2" class="text-error">  !!!Sorry,Invalid file format.Please mouseover help option</p>
    <%= f.label :'Select an Excel File:'  %>
    <%= f.file_field :detail %>
    <!-- <i href="#" id="blob_1" class="icon-info-sign" rel="popover" style="margin-top: 300px"></i><br/> -->

    <%= submit_tag 'Submit' ,:class =>"btn btn-primary"%><br/><br/>
  
<% end %>

